* {
  margin: 0;
  padding: 0;
}

.box_Icon .hrt {
  display: none;
}
.box_Icon .bag {
  color: #0f75bc;
  font-size: 15px;
  border: 1px solid #0f75bc;
  border-radius: 20px;
}
.box_Icon .bag span {
  display: initial;
}

.grid .total {
  border: none;
  color: #fff;
  background: linear-gradient(134.17deg, #18d9cd 4.98%, #00b0a5 94.88%);
  padding: 4px 15px;
}
